html {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% auto 10%;
    height: 100%;
    width: 100%;
    
    grid-gap: 8px;
    color:rgb(1,77,78);
    font-size: 1.3em;
}

ul {
    padding: 0%;;
    list-style: none;
}



a {
 text-decoration: none;
 
}

a:hover {
    color: white;
    background-color: indigo;
}

header {
    grid-column: 1/3;
    grid-row: 1;
    background-color: white;

}

h1 {
    text-align:center;
    font-family: fantasy;
    line-height: 50%;
    
}

.main {
    grid-column: 2;
    grid-row:2;
    width:100%;
    height: 100%;

    
    display: grid;
    grid-template-columns: 35% 50%;
    grid-template-rows: 20% 30% auto;
    grid-gap: 8px;

    align-content: center;
}

.flavorText {
    grid-column: 1/3;
    grid-row: 1;
}

.picture {
    grid-column: 2;
    grid-row: 2;
}

.analytics {
    grid-column: 1;
    grid-row: 2;
    font-size: medium;;
}

.ingredients {
    grid-column:1;
    grid-row: 3;
}

.recipe {
    grid-row: 3;
    grid-column: 2;
}

img {
    max-height: 90%;
    max-width: 90%;
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    
}


footer {
    grid-column: 1/3;
    grid-row: 3;
    background-color: rgba(123,154,208, 80%);
    text-align: center;
}