html {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10% 10% auto 10%;
    height: 100%;
    width: 100%;
    
    grid-gap: 8px;
    color:rgb(149, 45, 180);
}

.nav {
    grid-column: 1;
    grid-row: 2/4;
    background-color: aquamarine;
    
   
}

li {
    list-style: none;
    background-color: cornflowerblue;
    border-radius: 8px;
    margin: 8px;
    text-align: center;
}

a {
 text-decoration: none;
}

a:hover {
    color: white;
}

header {
    grid-column: 1/4;
    grid-row: 1;
    background-color: aquamarine;

}

h1 {
    text-align:center;
    font-family: fantasy;
    line-height: 50%;
    
}

.main {
    grid-column: 2/4;
    grid-row:2/4;
    background-color: aquamarine;
}

footer {
    grid-column: 1/4;
    grid-row: 4;
    background-color: aquamarine;
}