.container {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10% 10% auto 10%;
    height: 100%;
    width: 100%
}

.nav {
    grid-column: 1;
    grid-row: 1/3;
    
    background-color: aquamarine;
}

header {
    grid-column: 1/3;
    grid-row: 2;
}