html {
    height: 100%;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10% 10% auto 10%;
    height: 100%;
    width: 100%;
    
    grid-gap: 8px;
    color:rgb(149, 45, 180);
}

.nav {
    grid-column: 1;
    grid-row: 2/4;
    background-color: rgba(127, 255, 212, 50%);
    
   
}

li {
    list-style: none;
    background-color: cornflowerblue;
    border-radius: 8px;
    margin: 8px;
    text-align: center;
}

a {
 text-decoration: none;
}

a:hover {
    color: grey;
}

header {
    grid-column: 1/4;
    grid-row: 1;
    background-color: rgba(127, 255, 212, 50%);

}

h1 {
    text-align:center;
    font-family: fantasy;
    line-height: 50%;
    
}

.main {
    grid-column: 2/4;
    grid-row:2/4;
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 8px;

    align-content: center;
}

.box1 {
    grid-column: 1;
    grid-row: 1;
}

.box2 {
    grid-column: 2;
    grid-row: 1;
}

.box3 {
    grid-column: 1;
    grid-row: 2;
}

.box4 {
    grid-column: 2;
    grid-row: 2;
}

img {
  
    max-width: 75%;
    max-height: fit-content;
    object-fit: contain;
}


footer {
    grid-column: 1/4;
    grid-row: 4;
    background-color: rgba(127, 255, 212, 50%);
}